@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model Bookish.Models.BookViewModel

@{
    Layout = null;
    ViewBag.Title = "Book List";
}

<!DOCTYPE html>

<html>
<head>
    @foreach()

</head>
<body>
<div>
      
</div>
</body>
</html>