html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.hidden-button{
  display: none;
}

.button-icon{
  cursor:pointer;
}

.bi-pencil{
  color:dodgerblue;
}

.bi-stack{
  color: forestgreen;
}

.bi-trash{
  color: darkred;
}