@page
@model Bookish.Controllers.CatalogController

@{
    ViewBag.Title = "Book Entered";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <marquee>Book entered successfully</marquee>
</div>
</body>
</html>