@page

@{
    ViewBag.Title = "Borrower Entered";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <marquee>Borrower entered successfully</marquee>
</div>
</body>
</html>