@page
@model Bookish.Views.Catalog.BookEntry

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <p>Book entered successfully</p>
</div>
</body>
</html>