@model Bookish.Models.Book

@{
    ViewBag.Title = "Catalog";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <p>Hello @Model.BookID <br/></p>
</div>
</body>
</html>